apiVersion: v1
kind: ConfigMap
metadata:
  name: deploy-test-vm
  namespace: default
  labels:
    govc-operator/operation: "deploy-vm"
data:
  operation: |
    operation: deploy-vm
    vm_name: test-vm-001
    template_name: fedora-42-k3s-template-2025-08-10
    memory_gb: 8
    cpu_count: 4
    userdata: |
      #cloud-config
      hostname: test-vm-001
      fqdn: test-vm-001.internal.mhamburger.net
      users:
        - name: k3s-user
          ssh_authorized_keys:
            - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7... # Your SSH key here
      runcmd:
        - echo "VM deployed via govc operator" > /tmp/deployment-marker
    metadata: |
      instance-id: test-vm-001
      local-hostname: test-vm-001